<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/form.css">
</head> 
<body>
    <center style="margin-top:10%;">
        <h1>회 원 가 입</h1>
    </center>

    <div id="align">  
        <div id="content">  
            <form action="/users/addUser" method="post">
                id  <p></p> <input type="text" name="id"><p></p>
                pw  <p></p><input type="password" name="pwd"><p></p>
                name  <p></p><input type="text" name="name"><p></p>
                hobby  <p></p><input type="text" name="hobby"><p></p>
                content  <p></p><textarea name="content" id="" cols="30" rows="10"></textarea><p></p>
                <input type="submit" value="제출">
            </form>
        </div>  

        <a href="/"> 
            <h3>
                <i>홈으로</i>
            </h3>
        </a>
    </div> 
</body>
</html>